@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Malayalam&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Epilogue', sans-serif;
}

/* 
::-webkit-scrollbar {
    width: 20px;
    height: 20px;
    background: black;

}

::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: black;
}

::-webkit-scrollbar-thumb {
    background: rgb(194 65 12);
    border-radius: 100vh;
} */
